$bgColor: #0e4b46
.wrapper
	display: flex
	flex-direction: row
	height: 100vh
	width: 100vw
	background: $bgColor
	justify-content: center
	align-items: center
.form
	box-shadow: 50px -16px 100px 20px #cf7b7b
	border: 1px solid #555
	background: #fff
	padding: 20px 5px
	border-radius: 20px
	display: flex
	flex-direction: column
	gap: 45px
	max-width: 30vw
	width: 100%
	justify-content: space-evenly
@media (max-width:1000px)
	.form
		max-width: 60vw

@media (max-width:600px)
	.form
		box-shadow: 20px -16px #3a5754
		min-width: 350px
		max-width: 90vw
.title
	align-self: center
	margin: 0
	font-size: 56px
	font-family: 'Rancho'
	font-weight: 500
	letter-spacing: 5px

.button
	align-self: center
	width: 80%
	background: #000
	color: #fff
	padding: 10px
	font-size: 20px
	border-radius: 10px
	transition: all 200ms ease-in-out
.button:hover
	background: #15624f
.tree
	position: absolute
	bottom: 0px
	left: 0
	width: 30vw
	display: block
