.thead
	color: white
	border-radius: 20px
.tr-head
	th
		padding: 10px 30px
		background: #425C5A
		border: 1px solid #FFFFFFdd
		&:first-child
			border-radius: 20px 0px 0px
		&:last-child
			border-radius: 0px 20px 0px 0px
.tr-body
	td
		text-align: center
		padding: 5px
		border: 1px solid black
