.wrap
	background: #EEE
	padding: 20px
	border-radius: 10px
	display: flex
	flex-direction: column
	align-items: center
	justify-content: space-between
.label
	color: #3D5654
	font-size: 28px
.image
	max-height: 200px
